table{
    border: black  solid medium;
    border-collapse: collapse;
}
tr{
    border: 0.1rem solid black;
    text-align: center;
    height: 2rem;
}
td, th{
    border:0.1rem solid black;
    width: 100px;
}
th:nth-child(even), tr:nth-child(even){
    background-color: rgb(185, 176, 176);
}   
